.container {
  background-color: #c0c0c0;
  border-color: #dfdfdf #808080 #808080 #dfdfdf;
  border-style: solid;
  border-width: medium;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;

  &:active,
  &:focus,
  &.broken {
    background: #c0c0c0;
    border-color: #858585;
    border-width: thin;
    width: 19px;
    height: 19px;
  }

  &.smile {
    background-image: url("../assets/smile.png");
    background-position: center;
    background-size: 25px;
    width: 23px;
    height: 23px;
    &:active {
      width: 27px;
      height: 27px;
    }
  }

  &.lost {
    background-image: url("../assets/lost.png");
    background-position: center;
    background-size: 25px;
    width: 23px;
    height: 23px;
    &:active {
      width: 27px;
      height: 27px;
    }
  }

  &.winner {
    background-image: url("../assets/win.png");
    background-position: center;
    background-size: 25px;
    width: 23px;
    height: 23px;
    &:active {
      width: 27px;
      height: 27px;
    }
  }

  &.flag {
    background-image: url("../assets/flag.png");
    background-position: center;
    background-size: contain;
    &:active,
    &:focus {
      background-color: #c0c0c0;
      border-color: #dfdfdf #808080 #808080 #dfdfdf;
      border-width: medium;
      width: 15px;
      height: 15px;
    }
  }

  &.broken {
    &.mine {
      background-image: url("../assets/mine.png");
      background-position: center;
      background-size: contain;
      &.hit {
        background-color: red;
      }
    }
    &.wrong_mine {
      background-image: url("../assets/mine.png");
      background-position: center;
      background-size: contain;
      &::after {
        content: "x";
        color: red;
        font-size: x-large;
        position: absolute;
        left: 3.7px;
        top: -9px;
      }
    }
    &.zero > span {
      display: none;
    }
    &.one > span {
      color: #0302c5;
    }
    &.two > span {
      color: #217619;
    }
    &.three > span {
      color: #d31f27;
    }
    &.four > span {
      color: #060280;
    }
    &.five > span {
      color: #5d2217;
    }
    &.six > span {
      color: #147879;
    }
    &.seven > span {
      color: #050505;
    }
    &.eight > span {
      color: #808080;
    }
  }

  > span {
    position: absolute;
    left: 3.5px;
    bottom: -2px;
    color: #0302c5;
    font-weight: bolder;
    font-family: monospace;
    font-size: x-large;
  }
}
