.container {
  border-style: solid;
  border-width: 3px;
  display: inline-block;
  border-color: transparent;
  position: absolute;
}

.vertical {
  height: 6px;
}

.horizontal {
  width: 6px;
}

.left-top {
  border-left-color: #600000;
  left: 0px;
  composes: vertical;
  &.active {
    border-left-color: #ff0000;
  }
}

.left-bottom {
  border-left-color: #600000;
  composes: vertical;
  left: 0px;
  bottom: 0px;
  &.active {
    border-left-color: #ff0000;
  }
}

.top {
  border-top-color: #600000;
  composes: horizontal;
  left: 1px;
  &.active {
    border-top-color: #ff0000;
  }
}

.right-top {
  border-right-color: #600000;
  composes: vertical;
  right: 0px;
  &.active {
    border-right-color: #ff0000;
  }
}

.right-bottom {
  border-right-color: #600000;
  composes: vertical;
  right: 0px;
  bottom: 0px;
  &.active {
    border-right-color: #ff0000;
  }
}

.bottom {
  border-bottom-color: #600000;
  composes: horizontal;
  left: 1px;
  bottom: 0px;
  &.active {
    border-bottom-color: #ff0000;
  }
}

.middle {
  top: 50%;
  transform: translateY(-50%);
  composes: horizontal;
  left: -1px;
}

.middle::before {
  content: "";
  border-color: transparent;
  border-top-color: #600000;
  border-style: solid;
  width: 100%;
  border-width: 2px;
  top: 0;
  position: absolute;
}

.middle.active::before {
  border-top-color: #ff0000;
}

.middle::after {
  content: "";
  border-color: transparent;
  border-bottom-color: #600000;
  border-style: solid;
  width: 100%;
  border-width: 2px;
  position: absolute;
  bottom: 0;
}

.middle.active::after {
  border-bottom-color: #ff0000;
}
